h1 {
	color: black;
	margin: 50px;
	font: 2.5rem "Fira Sans", sans-serif;
	font-weight: bolder;
}

h2 {
	margin: 20px;
	flex-direction: column;
	font: 1rem "Fira Sans", sans-serif;
	font-weight: book;
}

h3, h4 {
	font: 1.5rem "Fira Sans", sans-serif;
	font-weight: 600;
}

body {
	margin: 0px;
}

button {
    padding: 20px 30px;
    font-size: 1em;
    cursor: pointer;
    background-color: #FFA500;
    color: white;
    border: none;
    border-radius: 15px;
}

button:hover {
    background-color: #FF8C00;
}

button:active {
    transform: scale(0.98);
}


/* ID uses a "#" */
#navbar {
	background-color: white;
	height: 130px;
	display: flex;
	align-items: center;
}

#main-content {
	height: 100vh;
	display: flex;
}

#sidebar {
	width: 300px;
    background-color: #00539CFF;
    color: white;
    padding: 20px;
    text-align: center;
}

#resultId{
	font-size: 3em;
}

#content {
	background-color: #f4f4f4;
    width: 100%;
    padding: 20px;
}

#content h3 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

/* class uses a dot "." */
.useless-container{
	display: flex;
    align-items: center
}

.buttons-container {
    display: flex;
    gap: 10px;
}

@media (max-width: 900px) {
    #navbar{
    	height: 180px;
		display: block;
		text-align: center;
    }

	#main-content{
		display: inline-grid;
        height: fit-content;
        text-align: center;
	}

	#sidebar {
		width: 100%;
		height: 180px;
		margin-bottom: 0px;
	}

	#content {
		margin: 0px;
	}

    .useless-container{
    	display: inline-flex;
    	align-items: center;
	}

}